ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

#weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 7px;
}

#correct-temp {
  font-size: 64px;
  line-height: 1;
}

#temp-max {
  font-weight: bold;
}

#temp-min {
  opacity: 0.7;
}

.weather-app-wrapper {
  margin: 20px auto;
  max-width: 600px;
}

.weather-app {
  padding: 20px 16px 24px;
  border: 1px solid #878787;
  border-radius: 10px;
}

.overview {
  margin-bottom: 10px;
}

.units {
  position: relative;
  font-size: 18px;
  top: -34px;
}

.weather-temperature .active {
  color: #000;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-date {
  font-size: 18px;
}
